<a href="https://colab.research.google.com/github/ddasagamo/Tuplas/blob/main/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits=("apple", "banana", "cherry", "date", "fig", "grape")
print(fruits)
S="mi tupla tiene"
k="datos"

print((S),len(fruits),(k))

('apple', 'banana', 'cherry', 'date', 'fig', 'grape')
mi tupla tiene 6 datos

In [ ]:
frutas = ("apple", "banana", "cherry", "date", "fig", "grape")
print(frutas[2])

cherry

In [ ]:
colors = ("red", "green", "blue")

print(colors[0])
print(colors[1])
print(colors[2])

red
green
blue

In [ ]:
tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)

print(tupla1)
print(tupla2)


suma = tupla1 + tupla2
print("suma de tuplas:",suma)

(1, 2, 3)
(4, 5, 6)
suma de tuplas: (1, 2, 3, 4, 5, 6)

In [ ]:
tupla = ("repeat", ) * 4
print(tupla)

('repeat', 'repeat', 'repeat', 'repeat')

In [ ]:
numbers = (10, 20, 30, 40, 50)

for number in numbers:
    print(number)

In [ ]:
tuple1 = (1, 2, 3) ; tuple2 = ("a", "b", "c")

tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 'a', 'b', 'c')

In [ ]:
letters = ("a", "b", "c", "d")

if "e" in letters:
    print("La letra 'e' está en la tupla.")
else:
    print("La letra 'e' no está en la tupla.")

La letra 'e' no está en la tupla.

In [ ]:
my_list = [100, 200, 300, 400]
my_tuple = tuple(my_list)

print(my_tuple)

(100, 200, 300, 400)

In [ ]:
my_tuple = (5, 10, 15, 20, 25, 30, 35)

print("Valor en el índice 2:", my_tuple[2])
print("Sub-tupla desde el índice 1 hasta el 4:", my_tuple[1:5])

Valor en el índice 2: 15
Sub-tupla desde el índice 1 hasta el 4: (10, 15, 20, 25)